# Kirim hanya file yang dibutuhkan untuk build di container
!pom.xml
!src/**
!mvnw
!.mvn/wrapper/**
!Dockerfile
!.dockerignore

# Ignore sisanya biar konteks kecil
*
# tapi pastikan artefak hasil build lokal juga ter-ignore
target/
**/node_modules/
.DS_Store
*.log
